@import 'tailwindcss';

:root {
  --background: hsl(223.8136 -172.5242% 100%);
  --foreground: hsl(223.8136 0% 3.9388%);
  --card: hsl(223.8136 -172.5242% 100%);
  --card-foreground: hsl(223.8136 0% 3.9388%);
  --popover: hsl(223.8136 -172.5242% 100%);
  --popover-foreground: hsl(223.8136 0% 3.9388%);
  --primary: hsl(14 100% 57%);
  --primary-foreground: hsl(223.8136 0.0004% 98.0256%);
  --secondary: hsl(31 87% 58%);
  --secondary-foreground: hsl(14 100% 57%);
  --muted: hsl(31 87% 58%);
  --muted-foreground: hsl(223.8136 0% 45.1519%);
  --accent: hsl(31 87% 58%);
  --accent-foreground: hsl(14 100% 57%);
  --destructive: hsl(351.7303 123.6748% 40.5257%);
  --destructive-foreground: hsl(223.8136 -172.5242% 100%);
  --border: hsl(223.8136 0.0001% 89.8161%);
  --input: hsl(223.8136 0.0001% 89.8161%);
  --ring: hsl(223.8136 0% 63.0163%);
  --chart-1: hsl(211.788 101.9718% 78.6759%);
  --chart-2: hsl(217.4076 91.3672% 59.5787%);
  --chart-3: hsl(221.4336 86.3731% 54.0624%);
  --chart-4: hsl(223.6587 78.718% 47.8635%);
  --chart-5: hsl(226.5426 70.0108% 39.9224%);
  --sidebar: hsl(223.8136 0.0004% 98.0256%);
  --sidebar-foreground: hsl(223.8136 0% 3.9388%);
  --sidebar-primary: hsl(14 100% 57%);
  --sidebar-primary-foreground: hsl(223.8136 0.0004% 98.0256%);
  --sidebar-accent: hsl(31 87% 58%);
  --sidebar-accent-foreground: hsl(14 100% 57%);
  --sidebar-border: hsl(223.8136 0.0001% 89.8161%);
  --sidebar-ring: hsl(223.8136 0% 63.0163%);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}
